<section class="offset-md-1 col-md-10 col-xs-12">
  <div class="my-3 content py-3 ">

    <div class="table-responsive">
      <div class="w-100 text-center">
        <h1>Artículos</h1>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
      </div>
      <div class="text-center align-right">  <%= link_to "Crear artículo", new_article_path, class: "btn btn-info " %></div>
      <table class="table table-striped">
        <thead>

        <tr>
          <th class="text-center">Categoría</th>
          <th class="text-center">Título</th>
          <th class="text-center">Isla</th>
          <th class="text-center" colspan="3">Acciones</th>
        </tr>
        </thead>

        <% @articles.each do |article| %>
          <tbody>
          <tr>
            <td class="text-center align-middle"> <%= Category.find(article.category_id).title %> </td>
            <td class="text-center align-middle"> <%= article.title %> </td>
            <td class="text-center align-middle"> <%= article.island %> </td>
            <td class="text-center align-middle">
              <%= link_to "Detalles",article, class: "btn btn-info " %>
              <%= link_to "Editar", edit_article_path(article.id), class: "btn btn-success ml-2" %>
              <%= link_to "Eliminar", article, method: :delete, class: "btn btn-danger ml-2",
                          data: { confirm: '¿Desea eliminar?'} %>
            </td>
          </tr>

          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</section>
