<!DOCTYPE html>
<html>
  <head>
    <title>Somos8</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="offset-md-1 col-md-10 col-xs-12">

    <div class="d-flex flex-wrap align-items-center">
      <a class="mx-3" href="#">
        <h1 id="Titulo" class="text-dark">
          Somos8
        </h1>
        <h5>
          <%if current_user %>
            Bienvenido/a <%= current_user.username %>
          <%end %>
        </h5>
      </a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Categorías", category_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Artículos", article_index_path, class: "nav-link" %>
          </li>


          <% if !user_authenticated? %>
            <li class="nav-item">
              <%= link_to "Regístrate", new_user_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Iniciar sesión", login_path, class: "nav-link" %>
            </li>
          <%else %>
            <% if is_admin? %>
              <li class="nav-item">
                <%= link_to "Usuarios", users_path, class: "nav-link" %>
              </li>
            <%else %>
              <li class="nav-item">
                <%= link_to "Modificar datos", edit_user_path(id:current_user.id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Perfil", user_path(current_user), method: :get, class: "nav-link" %>
              </li>
            <%end %>
            <%= link_to "Cerrar sesión", logout_path, method: :post, class: "nav-link" %>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <body>
    <% if notice %>
      <p class="notice alert-primary"><%= notice %></p>
    <%end%>
    <% if alert%>
      <p class="alert alert-danger"><%= alert %></p>
    <%end%>
    <%= yield %>
  </body>
</html>
